<div class="modal" id="Process-Modal" style="display: none; top: 280px" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content" style="height: 82px; width: 277px; margin-left: 150px; ">
			<p style="float: right; margin-right: 25px; font-size: 13px; margin-top: 22px; ">Processing, please wait ...<img style="margin-bottom: -8px;" src="~/Images/PVP.gif" alt=""></p> <br /><br />
		</div>
	</div>
</div>
